/indexnow-key.txt
/.gradle/
/backup-key.txt
/backup-public-key.txt
/backup/
/build/
/cloud-archive.sh
/cloud-archive-admin.sh
/lock
/lock-server
/nginx-tmp/
/node_modules/
/static-production/
/static-staging/
/static-tmp/
/venv/
