[Unit]
Description=Attestation server

[Service]
User=attestation
WorkingDirectory=/var/lib/attestation
ExecStart=/usr/bin/java -cp '/opt/attestation/deploy/AttestationServer.jar:/opt/attestation/deploy/*' app.attestation.server.AttestationServer
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/attestation
ProtectHome=true
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
