[Unit]
Description=Attestation server

[Service]
User=attestation
WorkingDirectory=/home/attestation
ExecStart=/usr/bin/java -cp 'deploy/AttestationServer.jar:deploy/*' app.attestation.server.AttestationServer
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
