[Unit]
Description=Attestation server

[Service]
User=attestation
WorkingDirectory=/home/attestation
ExecStart=/usr/bin/java -cp '/opt/attestation/deploy/AttestationServer.jar:/opt/attestation/deploy/*' app.attestation.server.AttestationServer
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
