[Unit]
Description=Perform remote backup

[Service]
CPUSchedulingPolicy=batch
ExecStart=/usr/local/bin/remote-backup
Type=oneshot
User=attestation
WorkingDirectory=/var/lib/attestation
