[Unit]
Description=Attestation server

[Service]
CapabilityBoundingSet=
ExecStart=/usr/bin/java -jar /opt/attestation/deploy/attestation-server.jar
IPAddressDeny=any
IPAddressAllow=localhost
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/attestation
RemoveIPC=yes
Restart=always
RestartMaxDelaySec=10s
RestartSec=100ms
RestartSteps=5
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SyslogLevel=crit
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources @obsolete
UMask=0077
User=attestation
WorkingDirectory=/var/lib/attestation

[Install]
WantedBy=multi-user.target
