[Unit]
Description=Attestation server

[Service]
CapabilityBoundingSet=
ExecStart=/usr/bin/java -jar /opt/attestation/deploy/attestation-server.jar
IPAddressDeny=any
IPAddressAllow=localhost
LockPersonality=true
NoNewPrivileges=true
PrivateDevices=true
PrivateIPC=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/attestation
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SyslogLevel=crit
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources @obsolete
UMask=0077
User=attestation
WorkingDirectory=/var/lib/attestation

[Install]
WantedBy=multi-user.target
