Options -indexes

Header always set Content-Security-Policy "default-src 'none'; connect-src 'self'; \
font-src 'self'; img-src blob: 'self'; manifest-src 'self'; script-src 'self'; style-src 'self'; \
form-action 'self'; frame-ancestors 'none'; block-all-mixed-content; base-uri 'none'; \
report-uri https://danielmicay.report-uri.com/r/d/csp/enforce"

Header always set Feature-Policy "accelerometer 'none'; camera 'none'; geolocation 'none'; \
gyroscope 'none'; magnetometer 'none'; microphone 'none'; midi 'none'; usb 'none'; vr 'none'"

<FilesMatch "\.(html|txt|webmanifest|xml)$">
Header set Cache-Control "public, max-age=1800"
</FilesMatch>

<FilesMatch "\.(ico)$">
Header set Cache-Control "public, max-age=86400"
</FilesMatch>

<FilesMatch "\.(css|js|png|woff2)$">
Header set Cache-Control "public, max-age=31536000"
</FilesMatch>

Redirect 301 /security.txt /.well-known/security.txt

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_URI} ".*\.html$"
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)\.html$ /$1 [L,R=301]

AddType application/manifest+json webmanifest
