/* use the standard Material Light theme to match the Auditor app */
/* https://android.googlesource.com/platform/frameworks/base/+/android-11.0.0_r32/core/res/res/values/colors_material.xml */

body {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.009375rem;
    background-color: #fafafa; /* grey50 */
    color: rgba(0 0 0 / 87%); /* 87% black */
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

a {
    color: #1565c0; /* blue800 */
    text-decoration: none;
}

a:visited {
    color: #6a1b9a; /* purple800 */
}

a:hover {
    text-decoration: underline;
}

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: rgba(0 0 0 / 87%); /* 87% black */
}

pre, .fingerprint {
    font-family: "Roboto Mono", monospace;
}

pre {
    margin-bottom: 0;
    white-space: pre-wrap;
    font-size: 0.8em;
}

#site-menu ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

#site-menu {
    background-color: #212121; /* grey900 */
    box-shadow: 0 2px 2px 0 rgba(0 0 0 / 14%), 0 1px 5px 0 rgba(0 0 0 / 12%), 0 3px 1px -2px rgba(0 0 0 / 20%);
}

#site-menu ul li {
    list-style-type: none;
}

#site-menu ul li:hover {
    background-color: #424242; /* grey800 */
}

#site-menu ul li a {
    color: #fff; /* 100% white */
    display: block;
    text-decoration: none;
    padding: 1em;
}

#site-menu ul li a:visited {
    color: #fff; /* 100% white */
}

#site-menu ul li[aria-current] a {
    color: #64b5f6; /* blue300 */
}

main {
    margin: auto;
    padding: 1em;
    max-width: 832px;
    overflow-wrap: break-word;
}

#pairing > img, #pairing > button {
    display: block;
    margin: auto;
    text-align: center;
}

button {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.0892857143em;
    background-color: #212121; /* gray900 */
    border-radius: 4px;
    border: none;
    padding: 0.5rem 1rem;
}

button:hover {
    background-color: #3c3c3c;
    cursor: pointer;
}

button:focus {
    background-color: #565656;
    box-shadow: 0 2px 4px -1px rgba(0 0 0 / 20%), 0 4px 5px 0 rgba(0 0 0 / 14%), 0 1px 10px 0 rgba(0 0 0 / 12%);
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    margin: 2px;
}

.coin-address {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.coin-address img {
    image-rendering: pixelated;
    width: 180px;
    height: 180px;
    border-radius: 16px;
}

/* latin */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"), local("Roboto-Regular"), url("/fonts/roboto-v30-regular-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto Italic"), local("Roboto-Italic"), url("/fonts/roboto-v30-regular-italic-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("/fonts/roboto-v30-bold-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto Mono"), local("RobotoMono-Regular"), url("/fonts/robotomono-v23-regular-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url("/fonts/robotomono-v23-bold-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
        color: rgba(255 255 255 / 87%); /* 87% white */
    }

    a {
        color: #90caf9; /* blue200 */
    }

    a:visited {
        color: #ce93d8; /* purple200 */
    }

    h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
        color: rgba(255 255 255 / 87%); /* 87% white */
    }

    button {
        background-color: #252525;
    }

    button:hover {
        background-color: #202020;
    }

    button:focus {
        background-color: #1c1c1c;
    }
}
